<div class="w-full h-full">
  <div class="border-solid border-3 border-primary-600">
    <div class="grid p-3 mx-1 flex gap-4 lg:gap-0 ">
      <div class="col-12 lg:col-5">
        <div class="grid flex">
          <div class="col-12">
            <p class="text-6xl text-primary-600 m-0">Contact Center Dashboard</p>
          </div>
          <div class="col-5 border-solid border-primary-600 mx-2">
            <p class="text-xl m-0 text-primary-600 text-center">Date: 27/03/2023</p>
          </div>
          <div class="col-5 border-solid border-primary-600 mx-2">
            <p class="text-xl m-0 text-primary-600 text-center">Time:16:45 PM.</p>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 bg-blue-600 h-7rem mt-2">
          <p class="text-6xl text-yellow-300 mt-3 text-center">ACONNECT</p>
      </div>
    </div>
    <div class="grid mx-8 flex">
      <div class="col">
        <div class="grid flex">
          <div class="col">
            <p class="text-3xl text-primary-600 m-0 mt-3 text-center">TODAY</p>
          </div>
          <div class="col">
            <p class="text-6xl text-yellow-400 m-0 text-center">DPA</p>
          </div>
          <div class="col">
            <p class="text-6xl text-yellow-400 m-0 text-center">NCB</p>
          </div>
          <div class="col">
            <p class="text-6xl text-yellow-400 m-0 text-center">Tefal</p>
          </div>
          <div class="col">
            <p class="text-6xl text-yellow-400 m-0 text-center">GLO</p>
          </div>
          <div class="col">
            <p class="text-6xl text-yellow-400 m-0 text-center">DITP</p>
          </div>
        </div>
        <div class="grid mt-2 mb-3">
          <div class="col-12 bg-gray-500">
          </div>
        </div>
        <div class="grid flex ">
          <div class="col bg-blue-700 border-white border-1">
            <p class="text-xl text-white  m-0 mt-2 text-center">Total Calls</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">256</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">179</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">265</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">549</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">213</p>
          </div>
        </div>
        <div class="grid flex">
          <div class="col bg-blue-700 border-white border-1">
            <p class="text-xl text-white  m-0 mt-2 text-center">Answered Calls</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">250</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">172</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">264</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">539</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">209</p>
          </div>
        </div>
        <div class="grid flex">
          <div class="col bg-blue-700 border-white border-1">
            <p class="text-xl text-white  m-0 mt-2 text-center">Abandoned Calls</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">6</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">7</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">1</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">10</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">4</p>
          </div>
        </div>
        <div class="grid flex">
          <div class="col bg-blue-700 border-white border-1">
            <p class="text-xl text-white  m-0 mt-2 text-center">Service Level in 210s</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">97.7%</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">96.1%</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">99.6%</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">98.2%</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">98.1%</p>
          </div>
        </div>
        <div class="grid flex">
          <div class="col bg-blue-700 border-white border-1">
            <p class="text-xl text-white  m-0 mt-2 text-center">Abandon Rate</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">2.3%</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">3.9%</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">0.4%</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">1.8%</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">1.9%</p>
          </div>
        </div>
        <div class="grid flex">
          <div class="col bg-blue-700 border-white border-1">
            <p class="text-xl text-white  m-0 mt-2 text-center">AHT (Mins)</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">2.56</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">3.01</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">2.32</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">3.25</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">3.54</p>
          </div>
        </div>
        <div class="grid flex">
          <div class="col bg-blue-700 border-white border-1">
            <p class="text-xl text-white  m-0 mt-2 text-center">AVG Speed (Mins)</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">0:03</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">0:03</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">0:02</p>
          </div>
          <div class="col bg-white">
            <p class="text-6xl text-primary-600 m-0 text-center">0:05</p>
          </div>
          <div class="col bg-blue-100">
            <p class="text-6xl text-primary-600 m-0 text-center">0:05</p>
          </div>
        </div>
      </div>
    </div>
</div>
